body{
	margin:0px;
	padding:0px;
	background:#fff;
	background-image:url(images/bg1.jpe);background-repeat:repeat;
	}
.wrapper{width:1024px; margin:0 auto; font: 12px Arial;}
.container{background: #cce6ff; height:600px;}

#red{position:absolute; top:-5px; height:800px; width:862px; padding:0px; border-top:80px solid #001a33; border-left:80px solid #003366; border-bottom:80px solid #001a33; border-right:80px solid #003366; background-color:black;}
/*background*/
/* Seperate style sheet for background*/

/*About*/
.about{display:inline-block; color: #ccc;}
.middle{position:absolute;top:200px;left:470px;}
.about .middle h1, h2, h3{margin-top:0px;margin-bottom:0px;width:350px;text-align:center}
.about p{width:350px;margin-top:20px;text-align:center; font-size:20px; font-style:italic; color:orange;}
.about .middle h1{font: normal 33px/33px 'Oswald'; text-transform: uppercase; font-weight:bold;}
.about .middle h2{font: normal 20px/25px 'Oswald'; text-transform: uppercase; margin-left: 0;}
.about .middle h3{font: bold 19px/26px 'Oswald'; color: #333;}

/* Why.about class is needed */
.about h1.c_red{color:#db0448}
.about	h1.c_blue{color:#0d04f7;}
.about	h1.c_green{color:#03a503;}
.about h1.c_pink{color:#ed0471;}
.about h1.c_orange{color:#ff3300;}
.about h1.c_grey{color:#754231;}

#images #img1.c_red, #img2.c_red, #img3.c_red{box-shadow: 20px 20px 30px #700315;}
#images #img1.c_blue, #img2.c_blue, #img3.c_blue{box-shadow: 20px 20px 30px #090e42;}
#images #img1.c_green, #img2.c_green, #img3.c_green{box-shadow: 20px 20px 30px #012303;}
#images #img1.c_pink, #img2.c_pink, #img3.c_pink{box-shadow: 20px 20px 30px #7c0143;}
#images #img1.c_orange, #img2.c_orange, #img3.c_orange{box-shadow: 20px 20px 30px #a32a01;}
#images #img1.c_grey, #img2.c_grey, #img3.c_grey{box-shadow: 20px 20px 30px #754231;}





#images { position:absolute; top:550px; left:360px;}
#images #img1, #img2, #img3 { background-repeat: no-repeat;background-size: 200px 200px;height: 200px; width: 200px;display:inline-block; margin-left:10px; box-shadow: 20px 20px 30px grey;border-radius: 30px; border:2px solid grey;}
#images #img1 { background-image: url("images/images/image1.png");}
#images #img2 { background-image: url("images/images/interior.png");}
#images #img3 { background-image: url("images/images/resort.png");}

/*Footer*/
.wrapper .footer{position:absolute; top:940px; bottom:0px; color:#fff;}
.wrapper .footer .copyright{margin-left:200px; margin-top:-10px; }
.wrapper .footer ul{ margin-left:700px;margin-top:-30px;}
.wrapper .footer ul li{display:inline-block; padding-right:10px; border-right:1px solid #ff3300;}
.wrapper .footer ul li:last-child{border-right:none; list-style:none;}
.footer ul li a{text-decoration:none; color:#fff;}

